/*
!/.config
/.config/*

!/.gitignore
!/.home-conf
!/.home-scripts

!/.vim-func
!/.vimrc
!/.tmux.conf
!/.bashrc
!/.rtorrent.rc
!/.xonshrc
!/.keynavrc

# BEGIN vim snippets
!/.config/coc
/.config/coc/*
!/.config/coc/ultisnips
# END vim snippets

!/.gnupg
/.gnupg/*
!/.gnupg/gpg-agent.conf

!/.config/termite
!/.config/ranger
!/.config/dunst

# BEGIN i3conf
!/.config/i3
!/.i3blocks.conf
!/.xbindkeysrc.scm
!/.i3scripts
# END i3conf

!/makefile
